<html>
<header>
</header>
<body>
  {% include "header.html" %}
  <h1>Product Details</h1>
  <table>
    <tr><td>Code</td><td>{{ code }}</td></tr>
    <tr><td>Description</td><td><i>{{product["name"]}}</i></td></tr>
    <tr><td>Price</td><td><i>{{product["price"]}}</i></td></tr>
    {% if session["user"] is defined %}
      <form action="/addtocart?code={{ code }}" method="POST">
      <tr><td colspan="2">Quantity</td></tr>
      <tr><td colspan="2"><input type="number" name="Quantity"></input></td></tr>
      <tr><td colspan=2><input type="submit" name="Add to Cart" value="Add to Cart" required></input></td></tr>
    </form>
    {% endif %}
  </table>
  <a href="/products">Back</a>
  {% include "footer.html" %}
</body>
</html>
