{% include "header.html" %}
<h1>Change Password</h1>

<form action="/change" method="POST">

  <div>Current Password</div>
  <input type="password" name="old" required></input>

  <div>Enter New Password</div>
  <input type="password" name="new1" required></input>

  <div>Re-enter New Password</div>
  <input type="password" name="new2" required></input>

  {% if change_error != "Update Password Success" %}

    <div><font color="red">{{change_error}}</font></div>

  {% else %}

    <div><font color="green">{{change_error}}</font></div>

  {% endif %}

  <div><input type="submit" value="Submit New Password"/></div>

</form>



{% include "footer.html" %}
